.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-container-first-part {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.search-container {
  background-color: white;
  padding: 5px 10px;
  margin-right: 15px;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.reset-search {
  font-family: "Roboto";
  cursor: pointer;
  margin-left: 10px;
  padding: 5px;
  border-radius: 5px;
}
.reset-search:hover {
  background-color: red;
}
.render-movies-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.empty-container {
  width: 100%;
  margin: 20px;
  display: flex;
  justify-content: center;
}
.pagination-container {
  margin: 10px 0 5px 0;
  display: flex;
  justify-content: center;
}
