.footer-container {
  font-family: "Roboto";
  background-color: black;
  color: white;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

a {
  color: white;
}
a:hover {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}
